*.suo
Mailbird.Apps.Calendar.Engine/bin/Debug/Mailbird.Apps.Calendar.Engine.dll
Mailbird.Apps.Calendar.Engine/bin/Debug/Mailbird.Apps.Calendar.Engine.pdb
Mailbird.Apps.Calendar.Engine/Mailbird.Apps.Calendar.Engine.csproj.user
Mailbird.Apps.Calendar.Engine/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Mailbird.Apps.Calendar.Engine/obj/Debug/Mailbird.Apps.Calendar.Engine.csproj.FileListAbsolute.txt
Mailbird.Apps.Calendar.Engine/obj/Debug/Mailbird.Apps.Calendar.Engine.csprojResolveAssemblyReference.cache
Mailbird.Apps.Calendar.Engine/obj/Debug/Mailbird.Apps.Calendar.Engine.dll
Mailbird.Apps.Calendar.Engine/obj/Debug/Mailbird.Apps.Calendar.Engine.pdb
Mailbird.Apps.Calendar/bin/Debug/Mailbird.Apps.Calendar.Engine.dll
Mailbird.Apps.Calendar/bin/Debug/Mailbird.Apps.Calendar.Engine.pdb
Mailbird.Apps.Calendar/bin/Debug/Mailbird.Apps.Calendar.exe
Mailbird.Apps.Calendar/bin/Debug/Mailbird.Apps.Calendar.pdb
Mailbird.Apps.Calendar/obj/Debug/App.g.cs
Mailbird.Apps.Calendar/obj/Debug/App.g.i.cs
Mailbird.Apps.Calendar/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Mailbird.Apps.Calendar/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
Mailbird.Apps.Calendar/obj/Debug/Mailbird.Apps.Calendar.csproj.FileListAbsolute.txt
Mailbird.Apps.Calendar/obj/Debug/Mailbird.Apps.Calendar.csproj.GenerateResource.Cache
Mailbird.Apps.Calendar/obj/Debug/Mailbird.Apps.Calendar.csprojResolveAssemblyReference.cache
Mailbird.Apps.Calendar/obj/Debug/Mailbird.Apps.Calendar.exe
Mailbird.Apps.Calendar/obj/Debug/Mailbird.Apps.Calendar.g.resources
Mailbird.Apps.Calendar/obj/Debug/Mailbird.Apps.Calendar.pdb
Mailbird.Apps.Calendar/obj/Debug/Mailbird.Apps.Calendar_MarkupCompile.cache
Mailbird.Apps.Calendar/obj/Debug/Mailbird.Apps.Calendar_MarkupCompile.i.cache
Mailbird.Apps.Calendar/obj/Debug/Mailbird.Apps.Calendar_MarkupCompile.lref
Mailbird.Apps.Calendar/obj/Debug/MainWindow.g.cs
Mailbird.Apps.Calendar/obj/Debug/MainWindow.g.i.cs
Mailbird.Apps.Calendar/obj/Debug/UIStyles/EditorStyles.baml
Mailbird.Apps.Calendar/obj/Debug/UIStyles/FlyoutContentStyle.baml
Mailbird.Apps.Calendar/obj/Debug/UIStyles/FlyoutContentStyle.g.cs
Mailbird.Apps.Calendar/obj/Debug/UIStyles/FlyoutContentStyle.g.i.cs
Mailbird.Apps.Calendar/obj/Debug/UIStyles/GeneralStyle.baml
